html {
	--main-background: #282c34;
	--text-color-white: #fff;
	--text-error: coral;
	--btn-hover: #0080C1;
	--btn-disabled: #D9D9D9;
	--menu-background: #5f5f5f;
	--item-hover: #212327;
	--btn-BG: #009EE4;
}